<form action="<%= 'update' === formAction ? `/update/${company.id}` : '/add' %>" method="post">

    <input type="hidden" name="_method" value="<%- 'update' === formAction ? 'put' : 'post' %>">

    <div class="formHeader">
        <button type="button">-</button>
        <input type="text" name="companyname" value="<%- company.companyname %>" placeholder="Company Name">
        
        <div>
          <img src="<%- company.logo %>" />
        </div>
    </div>

    <input class="location" type="text" name="location" value="<%- company.location %>" placeholder="Company Location">
    
    <div class="companyProduct">
        <label>Product:</label>
        <textarea type="text" name="product" value="<%- company.product %>" placeholder="Company Product" rows="2"><%- company.product %></textarea>
    </div>
    
    <div class="numbers">
        <label>Employees:</label>
        <label>Founded:</label>
        <input type="text" name="size" value="<%- company.size %>" placeholder="Company Size">
        <input type="text" name="founded" value="<%- company.founded %>" placeholder="Founding Year">
    </div>

    <div class="mission">
        <label>Mission:</label>
        <textarea type="text" name="mission" value="<%= company.mission %>" placeholder="Company Mission" rows="6"><%- company.mission %></textarea>
    </div>
    
    <div class="leaders">    
        <label>Leadership:</label>
        <label>Clients:</label>
        
        <input type="text" name="leaders" value="<%- company.leaders %>" placeholder="Company Leaders">
        <input type="text" name="clients" value="<%- company.clients %>" placeholder="Company Clients">
    </div>

    <div class="footer">
        <div>
            <a href="https://<%- company.twitter %>" target="_blank"><i class="fab fa-twitter-square"></i></a>
            <a href="https://<%- company.facebook %>" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://<%= company.domain %>" target="_blank"><i class="fas fa-external-link-square-alt"></i></a>
        </div>
        <button type="button">-</button> 
    </div>       
    <div class="dropDown">
    <textarea class="userNotes" name="notes" value="<%- company.notes %>" placeholder="Enter personal notes on company here." cols="30" rows="10"><%- company.notes %></textarea>
    <button type="submit"><%- 'update' === formAction ? "Update This Company" : "Add This Company" %></button>
    </div>
</form>