<section>
    <img src="<%= person.profile_pic_path %>" />
    <div class="titleBar">
        <h2><%= person.name %></h2>
        <p class="title"><%= person.title %></p>
        <span class="fab fa-twitter-square" href="<%= person.twitter_url %>"></span>
        <span class="fab fa-linkedin" href="<%= person.linkedin_url %>"></span>
        <span class="fab fa-github" href="<%= person.github_url %>"></span>
    </div>
    <p><%= person.bio %></p>
</section>



