<section class="people">
    <div class="imgContainer"><img src="<%= person.profile_pic_path %>" /></div>
    <div class="allText">
        <div class="titleBar">
            <h2><%= person.name %></h2>
                <p class="title"><%= person.title %></p>
                <a class="fab fa-linkedin" href="<%= person.linkedin_url %>" target="_blank"></a>
                <a class="fab fa-github" href="<%= person.github_url %>" target="_blank"></a>
            <p class="bio"><%= person.bio %></p>
        </div>
    <div>
</section>



