<section class="people">
    <img src="<%= person.profile_pic_path %>" />
    <div class="titleBar">
        <h2><%= person.name %></h2>
        <p class="title"><%= person.title %></p>
        <!-- <a class="fab fa-twitter-square fa-2x" href="<%= person.twitter_url %>" target="_blank"></a> -->
        <a class="fab fa-linkedin fa-2x" href="<%= person.linkedin_url %>" target="_blank"></a>
        <a class="fab fa-github fa-2x" href="<%= person.github_url %>" target="_blank"></a>
    </div>
    <p><%= person.bio %></p>
</section>



